<div class="container">
  <h3>Add Admin</h3>
  <form #addData="ngForm" (ngSubmit)="addAdmin(addData)">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        ngModel
        #name="ngModel"
        placeholder="Enter admin name"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        placeholder="Enter email"
      />
    </div>

    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        #password="ngModel"
        placeholder="Enter password"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="role"
        name="role"
        ngModel
        #role="ngModel"
        placeholder="Enter role"
      />
    </div>


    

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
