<div class="container">
  <h4>edit staff here</h4>
  <form #addData="ngForm" (ngSubmit)="editStaff(addData)">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        ngModel
        #name="ngModel"
        placeholder="Enter name"
        [(ngModel)]="selectedStaff.name"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        placeholder="Enter email"
        [(ngModel)]="selectedStaff.email"
      />
    </div>

    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        #password="ngModel"
        placeholder="Enter password"
        [(ngModel)]="selectedStaff.password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
