<div class="container">
  <h4>edit branch manager here</h4>
  <form #addData="ngForm" (ngSubmit)="editBranchmanager(addData)">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        ngModel
        #name="ngModel"
        placeholder="Enter name"
        [(ngModel)]="selectedBranchmanager.name"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        placeholder="Enter email"
        [(ngModel)]="selectedBranchmanager.email"
      />
    </div>

    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        #password="ngModel"
        placeholder="Enter password"
        [(ngModel)]="selectedBranchmanager.password"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="role"
        name="role"
        ngModel
        #password="ngModel"
        placeholder="Enter role"
        [(ngModel)]="selectedBranchmanager.role"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="menu"
        name="menu"
        ngModel
        #menu="ngModel"
        placeholder="Enter role"
        [(ngModel)]="selectedBranchmanager.menu.id"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
