<div class="container">
    <h3>Edit Item here</h3>
    <form #addData="ngForm" (ngSubmit)="editItem(addData)">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="Enter name"
        [(ngModel)]="selectedItem.name"
         
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="type"
          name="type"
          ngModel
          #type="ngModel"
          placeholder="Enter type"
        [(ngModel)]="selectedItem.type"
        
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="quantity"
          name="quantity"
          ngModel
          #quantity="ngModel"
          placeholder="Enter quantity"
        [(ngModel)]="selectedItem.quantity"
         
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="productId"
          name="productId"
          ngModel
          #productId="ngModel"
          placeholder="Enter product id"
        [(ngModel)]="selectedItem.productId"
         
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          ngModel
          #price="ngModel"
          placeholder="Enter price"
        [(ngModel)]="selectedItem.price"
          
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="image"
          name="image"
          ngModel
          #image="ngModel"
          placeholder="Enter image"
        [(ngModel)]="selectedItem.image"
          
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
      
  
      
  


