<div class="container">
    <h3>Edit Product here</h3>
    <form #addData="ngForm" (ngSubmit)="editProduct(addData)">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="Enter name"
          [(ngModel)]="selectedProduct.name"
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="type"
          name="type"
          ngModel
          #type="ngModel"
          placeholder="Enter type"
          [(ngModel)]="selectedProduct.type"
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="about"
          name="about"
          ngModel
          #about="ngModel"
          placeholder="Enter about"
          [(ngModel)]="selectedProduct.about"
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          ngModel
          #price="ngModel"
          placeholder="Enter price"
          [(ngModel)]="selectedProduct.price"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="availability"
          name="availability"
          ngModel
          #availability="ngModel"
          placeholder="Enter availability"
          [(ngModel)]="selectedProduct.availability"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="quantity"
          name="quantity"
          ngModel
          #quantity="ngModel"
          placeholder="Enter quantity"
          [(ngModel)]="selectedProduct.quantity"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="menu"
          name="menu"
          ngModel
          #quantity="ngModel"
          placeholder="Enter menu id"
          [(ngModel)]="selectedProduct.menu.id"
        />
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
      
  
      
  

