<div class="container">
    <h3>Add Menu</h3>
    <form #addData = "ngForm" (ngSubmit)="addMenu(addData)">

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="Enter name"
          [(ngModel)]="menu.name"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="branchmanager"
          name="branchmanager"
          ngModel
          #branchmanager="ngModel"
          placeholder="Enter branch manager Id"
          [(ngModel)]="menu.branchmanager.id"
        />
      </div>
  
      
      
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  


