<div class="container">
    <h3>Edit Order here</h3>
    <form #addData="ngForm" (ngSubmit)="editOrder(addData)">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="status"
          name="status"
          ngModel
          #status="ngModel"
          placeholder="Enter status"
          [(ngModel)]="selectedOrder.status"
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="customerName"
          name="customerName"
          ngModel
          #customerName="ngModel"
          placeholder="Enter name"
          [(ngModel)]="selectedOrder.customerName"
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="orderCreatedTime"
          name="orderCreatedTime"
          ngModel
          #orderCreatedTime="ngModel"
          placeholder="Enter order created time"
          [(ngModel)]="selectedOrder.orderCreatedTime"
        />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="orderDeliveryTime"
          name="orderDeliveryTime"
          ngModel
          #orderDeliveryTime="ngModel"
          placeholder="Enter order delivery time"
          [(ngModel)]="selectedOrder.orderDeliveryTime"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="customerEmailId"
          name="customerEmailId"
          ngModel
          #customerEmailId="ngModel"
          placeholder="Enter email id"
          [(ngModel)]="selectedOrder.customerEmailId"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="contactNumber"
          name="contactNumber"
          ngModel
          #contactNumber="ngModel"
          placeholder="Enter contact number"
          [(ngModel)]="selectedOrder.contactNumber"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="totalPrice"
          name="totalPrice"
          ngModel
          #totalPrice="ngModel"
          placeholder="Enter total price"
          [(ngModel)]="selectedOrder.totalPrice"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="staff"
          name="staff"
          ngModel
          #staff="ngModel"
          placeholder="Enter staff id"
          [(ngModel)]="selectedOrder.staff.id"
        />
      </div>
      
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
