<div class="container">
  <h4>Edit Branch here</h4>
  <form #addData="ngForm" (ngSubmit)="editBranch(addData)">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        ngModel
        #name="ngModel"
        placeholder="Enter name"
        [(ngModel)]="selectedBranch.name"
      />
    </div>

    <div class="mb-3">
      <input
        type="text-area"
        class="form-control"
        id="address"
        name="address"
        ngModel
        #address="ngModel"
        placeholder="Enter address"
        [(ngModel)]="selectedBranch.address"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        ngModel
        #phoneNumber="ngModel"
        placeholder="Enter phone number"
        [(ngModel)]="selectedBranch.phoneNumber"
      />
    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email="ngModel"
        placeholder="Enter email"
        [(ngModel)]="selectedBranch.email"
      />
    </div>
    <div class="mb-3">
      <input
        type="number"
        class="form-control"
        id="admin"
        name="admin"
        ngModel
        #email="ngModel"
        placeholder="Enter admin id"
        [(ngModel)]="selectedBranch.admin.id"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
